body{
  background: linear-gradient(#ADACAE,#E0DEE1) no-repeat fixed;
  margin:0;
}
.h-title{
  color: #feff02;
  font-weight: bold;
}
.details{
  color: #0e7524;
}
.container{
  margin-left: 0;
}
.h-title{
  text-align: center;
}
.well{
  display: none;
  padding: 0;
}
.output{
    text-align: center;
    margin: 0;
    display: inline;
}
.panel{
  margin-left: 16em;
}
.btn{
    margin-left: 37.5em;
}
.myrocket{
  width: 50px;
  height: 50px;
  display: inline;
  position: relative;
  margin-left: 36em;
}
#sub{
  margin: 0;
}
#bck{
  margin: 0;
  display: none;
}
